/* 
    Document   : tsgs
    Created on : 08-Apr-2012, 14:08:52
    Author     : greymatter
    Description:
        Purpose of the stylesheet follows.
*/

* {margin: 0; padding: 0;}
html {height: 100%; overflow-y: scroll; }

body {
min-height: 100%;
background-color: #f06;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    *behavior: url(boxsizing.htc); 
}

.colFirst {margin-left: 2%}
.colLast {margin-right: 2%}


.wrapper {max-width: 1000px; margin: 0 auto;overflow: hidden;}


.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 24%;}
.col-4 {width: 32%;}
.col-5 {width: 40%;}
.col-6 {width: 48%;}
.col-7 {width: 56%;}
.col-8 {width: 64%;}
.col-9 {width: 72%;}
.col-10 {width: 80%;}
.col-11 {width: 88%;}
.col-12 {width: 96%;}

.pad {
    padding: 0 1em;
}




